.chat_wrapper {
    display: block;
}

.chat_wrapper > .chat_user_info {
    position: fixed;
    font-size: 12px;
    color: #999;
    width: 100%;
    padding: 20px;
    z-index: 1;
    line-height: 20px;
    top: 40px;
    border: 1px solid #333;
    background: #2d2d2d;
}

.chat_wrapper > .chat_user_info > a {
    text-decoration: none;
    color: #53a245;
}

.chat_wrapper > .chat_user_info > .user_nick a {
    color: #bdbdbd;
}

.chat_messages {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    padding-right: 0;
    padding-bottom: 60px;
    margin-right: -20px;
    overflow: auto;
}

.chat_messages .message-wrapper .text {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 8px 10px 8px 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    max-width: 75%;
    font-size: 10pt;
    color: white;
    word-wrap: break-word;
}

.chat_messages .message-wrapper .text > a {
    color: #1f1f1f;
}

.chat_messages .message-wrapper .date {
    font-size: 12px;
    margin-top: -8px;
    clear: both;
    color: #d5d5d5;
    display: none;
    text-decoration: underline;
    margin-bottom: 16px;
}

.chat_messages > .message-wrapper .text-from-me  {
    float: right;
    background-color: #53a245;
    z-index: 0;
    color: #333;
    cursor: pointer;
}

.chat_messages > .message-wrapper .text-from-me .seen {
    display: block;
}

.chat_messages > .message-wrapper .text-from-me .seen i {
    float: right;
    margin-top: 8px;
    color: #1f1f1f;
}

.chat_messages > .message-wrapper .date-from-me  {
    float: right;
}

.chat_messages > .message-wrapper .text-from-others {
    float: left;
    background-color: #ffb96e;
    z-index: 0;
    color: #333;
    cursor: pointer;
}

.chat_messages > .message-wrapper .date-from-others {
    float: left;
}

.compose_message {
    width: calc(100% - 240px);
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #333;;
    max-height: 126px;
    outline: none;
    font-size: 12px;
    background: #1f1f1f;
}

@media screen and (max-width: 850px) {
    .compose_message {
        width: 100%;
    }
}

.compose_message > #message {
    height: 60px;
    background-color: #1f1f1f;
    border: none;
    resize: none;
    color: #bdbdbd;
    width: 100%;
    padding: 12px;
    outline: 0;
}

@media all and (max-width: 767px) {
    .chat-thread {
        height: 260px;
    }
}

@media all and (min-width: 768px) {
    .chat-thread {
        height: 476px;
    }
}
