div.compose > textarea {
    width: 80%;
    padding: 10px;
    resize: vertical;
    font-size: 10pt;
    min-height: 80px;
    margin-top: 20px;
    border: 1px solid #333;
    border-radius: 2px;
    background: #1f1f1f;
    color: #bdbdbd;
    outline: none;
}

div.compose > ul.buttons {
    display: block;
    margin-top: 8px;
}

div.compose > ul.buttons > li {
    float: left;
    margin-right: 6px;
    height: 32px;
}

div.compose > ul.buttons > li > a {
    padding: 6px;
    background-color: #1f1f1f;
    font-size: 8pt;
    color: #bdbdbd;
    cursor: pointer;
}

div.compose > ul.buttons > li > a:hover {
    background-color: #464646;
}

div.compose > ul.buttons > li > a.primary {
    color: #e0e0e0;
    background-color: #53a245;
    border: 1px solid #5c8e31;
}

div.compose > ul.buttons > li > a.primary:hover {
    background-color: #68a138;
    border-color: #3e6121;
}