body {
    font-family: 'Verdana', sans-serif;
    overflow-x: hidden;
}

div.navbar {
    background-color: #404096;
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}

a.logo {
    font-family: 'Baloo';
    line-height: 40px;
    font-size: 14pt;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    float: left;
}

div.search {
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 240px;
    margin-top: -2px;
}

div.search > input {
    outline: none;
    min-width: 320px;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #404096;
    font-size: 12px;
}

ul.menu {
    float: right;
    margin-right: 10px;
}

ul.menu > li {
    float: left;
}

ul.menu > li .menu-link, .dropdown-link {
    color: #fff;
    line-height: 40px;
    font-size: 9pt;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
}

ul.menu > li .menu-link:hover, .dropdown-link:hover {
    color: #404096;
    background-color: #fff;
}

ul.menu > li .menu-link > span.menu-link-text {
    padding-left: 8px;
}

div.wrapper {
    display: block;
    margin-top: 40px;
}

div.left {
    float: left;
    width: 240px;
    border-right: 1px solid #dbdbdb;
    height: 100%;
    position: fixed;
    z-index: 2;
}

div.stairs {
    display: block;
}

div.stairs > span.title {
    display: block;
    font-size: 12pt;
    color: #404096;
    padding-left: 12px;
    margin: 20px 0px 8px 0px;
}

div.stairs > span.subtitle {
    display: block;
    font-size: 9pt;
    color: #999;
    padding-left: 12px;
}

ul.topics {
    display: block;
    margin-top: 24px;
    border-top: 1px solid #dbdbdb;
}

ul.topics > li {
    display: block;
}

ul.topics > li a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0px 5px 12px;
    color: #666;
}

ul.topics > li a:hover {
    background-color: #fafafa;
}

ul.topics > li a > span.subject {
    display: block;
    line-height: 18px;
    text-transform: lowercase;
    font-size: .7em;
    padding-right: 5px;
}

ul.topics > li a > span.count {
    padding: 2px 4px;
    color: #999;
    border-radius: 4px;
    font-size: 8pt;
    float: right;
    margin-right: 6px;
}

div.content {
    display: block;
    float: left;
    width: calc(100% - 280px);
    margin-left: 240px;
    padding: 20px;
    margin-right: 20px;
}

div.content.chat-open {
    padding: 0;
}

h1.topic_title {
    font-size: 18pt;
    text-transform: lowercase;
}

h1.topic_title > a {
    text-decoration: none;
    color: inherit;
}

h1.topic_title > a:hover {
    text-decoration: underline;
}

ul.topic_actions {
    display: block;
    margin-top: 18px;
    height: 18px;
}

ul.topic_actions > li {
    float: left;
    font-size: 8pt;
}

ul.topic_actions > li > a > i {
    font-size: 16px;
    margin-top: -3px;
}

ul.topic_actions > li.break {
    margin-left: 12px;
}

ul.topic_actions > li > span {
    padding-right: 10px;
    color: #666666;
}

ul.topic_actions > li > a > i {
    margin-right: 5px;
}

ul.topic_actions > li > span > i {
    margin-right: 5px;
}

ul.topic_actions > li > a {
    padding-right: 6px;
    color: #666666;
    text-decoration: none;
}

ul.topic_actions > li > a:hover {
    text-decoration: underline;
}

ul.entries {
    display: block;
    margin-top: 16px;
}

ul.entries > li {
    display: block;
    padding-bottom: 60px;
}

ul.entries > li > .entry_info {
    display: block;
    border-bottom: 1px solid #dddddd;
    color: #999;
    font-size: 8pt;
    padding-bottom: 8px;
    text-decoration: none;
}

ul.entries > li > .entry_info > a.no {
    text-decoration: none;
    color: #404096;
}

ul.entries > li > .entry_info > span.time {
    float: right;
    font-size: 7.5pt;
}

ul.entries > li > div.text {
    display: block;
    font-size: 12.5px;
    padding: 14px 0 24px 0;
    line-height: 20px;
    text-align: left;
    text-transform: lowercase;
}

div.text > a {
    text-decoration: none;
    color: #404096;
}

ul.entries > li > div.info {
    float: right;
    display: block;
}

ul.entries > li > div.info > ul.vote {
    display: inline-block;
}

ul.entries > li > div.info > ul.vote > li {
    float: left;
    margin-right: 10px;
}

ul.entries > li > div.info > ul.vote > li:last-child {
    margin-left: 12px;
}

ul.entries > li > div.info > ul.vote > li > a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer
}

ul.entries > li > div.info > ul.vote > li > a:active {
    color: #666;
}

ul.entries > li > div.info > ul.vote > li > a.user {
    color: #404096;
    font-size: 12px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ul.entries > li > div.info > ul.vote > li > a > i {
    font-size: 14px;
}

h1.form_title {
    font-size: 20pt;
    margin-bottom: 30px;
}

h1.mini_form_title {
    font-size: 16pt;
    margin-bottom: 30px;
}

h1.page_title {
    font-size: 20pt;
    margin-bottom: 30px;
}

ul.form {
    display: block;
}

ul.form > li {
    display: block;
    margin-bottom: 8px;
    font-size: 10pt;
}

ul.form > li > input {
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 8px;
    margin-bottom: 10px;
    min-width: 200px;
}

ul.form > li > button {
    padding: 5px;
    color: #fff;
    min-width: 80px;
    background-color: rgb(64, 64, 150);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
}

ul.form > li > button:active {
    background-color: rgba(64, 64, 150, .75);
}

div.footer {
    display: block;
    padding-top: 20px;
    color: #444;
}

div.footer > a {
    text-decoration: none;
    color: #404096;
}

div.footer > a:hover {
    text-decoration: underline;
}

.left-menu {
    visibility: hidden;
    width: 0;
}

@media screen and (max-width: 380px) {
    .menu-link-text {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .left-menu {
        visibility: visible;
        width: auto;
    }

    .left {
        visibility: hidden;
        display: none;
    }

    .content {
        width: calc(100% - 40px) !important;
        margin-left: inherit !important;
    }

    .content.today {
        padding: 0px;
        width: 100% !important;
    }

    .search {
        visibility: hidden;
        display: none;
    }

    li.register-item {
        visibility: hidden;
        display: none;
    }
}

.dropdown-menu:focus {
    outline: 0;
}

.dropdown-menu:focus .dropdown-content,
.dropdown-menu:active .dropdown-content {
    display: block;
}

.dropdown-content {
    background: #404096;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 100%;
    border-radius: 3px;
    margin-top: -1px;
    border: 1px solid #fff;
    display: none;
}

.dropdown-content li,
.dropdown-content li a {
    line-height: 30px;
    display: block;
    float: none;
    color: #fff;
    font-size: 10pt;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content li a {
    padding: 0 16px;
}

.dropdown-content li a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.more {
    cursor: pointer;
    font-size: 11.5px;
    text-align: center;
    display: block;
    margin: 20px 50px;
    padding: 5px;
    color: #404096;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.more > i {
    padding-right: 6px;
}

.more:hover {
    text-decoration: underline;
}

.reload-left {
    margin-left: 8px;
    cursor: pointer;
}

.search-suggestion {
    z-index: 999;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-top: -4px;
    margin-left: 5px;
    line-height: 12px;
    border: 1px solid #404096;
    display: none;
}

ul.suggest-list {
    display: block;
}

ul.suggest-list > li {
    display: block;
    text-decoration: none;
    padding: 8px 5px;
    font-size: 0.8em;
    color: #666;
    border-bottom: 1px solid #eee;
}

ul.suggest-list > li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.topic-wrapper {
    margin-bottom: 36px;
}

ul.list-row > li {
    display: block;
    text-decoration: none;
    color: #666;
    padding: 10px;
    font-size: 10pt;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

ul.list-row > li:hover {
    background-color: #fafafa;
}

ul.list-row > li > div.list-row-text {
    color: #444;
}

ul.list-row > li > div.list-row-info {
    display: block;
    margin-top: 8px;
}

ul.list-row > li > div.list-row-info > span.time {
    color: #999;
    font-size: 10px;
}

.list-row-message {
    font-size: 12px;
}

.list-row-message > span.user {
    color: #404096;
    float: left;
}

.list-row-message > span.user:after {
    font-family: 'FontAwesome';
    content: "\f141";
    padding: 0 8px;
    color: #666;
}

.list-row-message > span.text {
}

.about {
    display: block;
    font-size: 10pt;
    line-height: 20px;
    text-align: left;
    text-transform: lowercase;
}

.about > a {
    color: #999;
    text-decoration: none;
}

.pager {
    display: block;
    margin-top: 30px;
    text-align: right;
    color: #666;
    white-space: nowrap;
}

.pager > a {
    display: inline-block;
    padding: 1px 8px;
    margin-left: 5px;
    border: 1px solid #ddd;
    height: 20px;
    line-height: 1.3;
    text-decoration: none;
    min-width: 8px;
    font-size: 16px;
    color: #000;
    max-width: 44px;
    width: auto;
    border-radius: 4px;
}

.pager select {
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fafafa;
    min-width: 50px;
    width: auto;
    max-width: 65px;
    padding: 2px;
    cursor: pointer;
    vertical-align: top;
    color: #000;
    border-radius: 4px;
    outline: none;
}