<span class="no">#<%= id %></span>

<div class="text">
    <%= text %>
</div>
<div class="info">
    <ul class="vote">
        <li>
            <a href="#">
                <i class="fa fa-thumbs-o-up"></i>
                <% if (upvotes_count > 0) { %>
                <span class="vote_text"><%= upvotes_count %></span>
                <% } %>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-thumbs-o-down"></i>
                <% if (downvotes_count > 0) { %>
                <span class="vote_text"><%= downvotes_count %></span>
                <% } %>
            </a>
        </li>
        <li><a href="/biri/<%= username %>"><%= username %></a></li>
    </ul>
</div>