<h1 class="page_title">
    <i class="fa fa-code-fork" style="padding-right: 8px"></i>
    olan biten
</h1>
<ul class="tabs-menu">
    <li class="current"><span data-id="#managers-tab">yetkili bi abiler</span></li>
    <li><span data-id="#about-tab">genellikle</span></li>
    <li><span data-id="#age-tab">ne zamandan beri</span></li>
</ul>
<div class="tab developers">
    <div id="managers-tab" class="tab-content developers">
        <div class="about">
        </div>
    </div>
    <div id="about-tab" class="tab-content developers">
        <div class="about">
            kaynak kodlar [https://github.com/sausozluk burada]
            olacak şekilde [https://github.com/erayarslan eray],
            [https://github.com/frknbasaran furkan],
            [https://github.com/co3moz doğan]
            tarafından geliştirilip  [https://github.com/ozziest özgür]e armağan edilmiştir.
        </div>
    </div>
    <div id="age-tab" class="tab-content developers">
        <div class="about">
            2017 ;)
        </div>
    </div>
</div>
