<h1 class="page_title">
    <i class="fa fa-code-fork" style="padding-right: 8px"></i>
    olan biten
</h1>
<ul class="tabs-menu colored">
    <li class="current"><span data-id="#web-tab">ön taraf</span></li>
    <li><span data-id="#api-tab">arka taraf</span></li>
    <li><span data-id="#about-tab">genellikle</span></li>
</ul>
<div class="tab developers">
    <div id="web-tab" class="tab-content developers">
        <ul class="list-row">
        </ul>
    </div>
    <div id="api-tab" class="tab-content developers">
        <ul class="list-row">
        </ul>
    </div>
    <div id="about-tab" class="tab-content developers">
        <div class="about">
            kaynak kodlar [https://github.com/sausozluk burada]
            olacak şekilde ruby, node.js, backbone,js ile
            [https://github.com/erayarslan eray], [https://github.com/okan okan], [https://github.com/co3moz doğan]
            yardımlarıyla geliştirilip  [https://github.com/frknbasaran furkan]a armağan edilip
            [https://github.com/ozziest özgür]den ilham alınmıştır.
        </div>
    </div>
</div>
