<h1 class="page_title">
    <i class="fa fa-inbox" style="padding-right: 8px"></i>
    mesajlar
</h1>
<ul class="tabs-menu colored">
    <li class="current"><span data-id="#inbox-tab">gelen kutusu</span></li>
    <li><span data-id="#new-tab"><i class="fa fa-quote-left"></i> yeni mesaj</span></li>
</ul>
<div class="tab developers">
    <div id="inbox-tab" class="tab-content chats">
        <ul class="list-row">
        </ul>
    </div>
    <div id="new-tab" class="tab-content chats">
        <input type="text" id="username" placeholder="nick"/>
        <div class="compose">
        </div>
    </div>
</div>
