<h1 class="page_title" style="margin-bottom: 0">
    <i class="fa fa-lock" style="padding-right: 8px"></i>
    gizlilik
</h1>

<div class="cookie-policy">
    `çerez politikası`

    diğer birçok internet sitesinde olduğu gibi içerikleri kişiselleştirmek, sosyal medya özellikleri
    sağlamak, trafiği analiz edebilmek ve internet sitemizi (kısaca “sözlük” olarak anılacaktır) nasıl kullandığınızı
    anlayabilmek için çerezler kullanıyoruz. çerez politikamızı, size sözlük’te kullanılan çerezler ve bunlara ilişkin
    yapabileceğiniz seçimler hakkında bilgi sağlamak amacıyla oluşturduk.

    sözlük'te bulunduğunuz süre boyunca '`cookie`' olarak da adlandırılan çerezlerin ve buna benzer unsurların tarayıcınıza
    yerleştirilmesi söz konusu olabilir. çerez ayarlarını değiştirmeden sözlük’ü kullanmaya devam ederek çerez
    kullanımına izin vermektesiniz.

    `çerez nedir`?

    çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcınıza yerleştirilen basit metin dosyalarından ibaret
    olup; kimlik ve başka özel bilgiler içermez. çerezler, bu tür kişisel bilgiler içermemekle beraber, oturum bilgileri
    ve benzeri veriler anonim olarak saklanarak sizi tekrar tanımak ve benzeri hizmetler için kullanılabilir.

    hangi tür çerezleri kullanıyoruz?

    sözlük’te “oturum çerezleri” ve “kalıcı çerezler” olarak iki tür çerez kullanıyoruz. oturum çerezleri, sözlük’te
    dolaşırken geçici hafızada yer alan ancak internet tarayıcınızı kapattığınızda silinen çerezlerdir. kalıcı çerezler
    ise belli bir tarihle ya da süreyle sınırlanmış olan bu tarih ya da süre sonunda kendiliğinden silinen veya
    tarafınızdan silinene kadar sabit diskinizde kalan çerezlerdir.

    sözlük’te `3. şahıs`lar hangi tür çerezleri kullanılıyor?

    kendi çerezlerimize ek olarak 3. şahıs (“`3. parti`” olarak da anılacaktır) tedarikçi ve reklam ağları, sosyal medya
    platformları ile diğer iş ortaklarımız, sizin sözlük’ü ve diğer internet sitelerini önceki ziyaretlerinize dayalı
    olarak reklam sunmak da dahil olmak üzere size daha iyi ve daha kişiselleştirilmiş hizmet sağlanması amacıyla
    tarayıcınıza çerez yerleştirebilirler. bu 3. şahıslar ve kullandıkları çerezlere ilişkin bilgiler şöyledir:

    `google analytics`
    kalıcı, oturum ve 3. parti çerez türlerinin kullanılması aracılığıyla sözlük’ün trafiği izlenerek ve raporlanarak
    kullanıcı deneyiminin daha iyi analiz edilmesi sağlanır.

    [http://www.google.com/policies/privacy/ daha fazla bilgi için]
    [https://tools.google.com/dlpage/gaoptout bu çerezlerden vazgeçmek için]

    `facebook`
    3. parti çerez türü kullanılarak entry’leri paylaşmanız ve facebook’a daha kolay erişmeniz sağlanır.

    [https://www.facebook.com/policies/cookies/ daha fazla bilgi için]

    `twitter`
    3. parti çerez türü kullanılarak entry’leri paylaşmanız ve twitter’a daha kolay erişmeniz sağlanır.

    [https://support.twitter.com/…icles/20170528?lang=tr daha fazla bilgi için]

    sözlük'te çerezler hangi amaçlarla kullanılıyor?

    sözlük’te çerezler, genel olarak size daha iyi ve daha kişiselleştirilmiş hizmet sağlamak ve sözlük’ü geliştirmemize
    yardımcı olması amacıyla kullanılıyor olup; bu çerezler sayesinde aşağıdaki hedefler gerçekleştirilebiliyor.

    - sözlük’e döndüğünüzde sizi tanımak
    - sosyal medya özellikleri sağlamak
    - sözlük’ün trafiğini analiz etmek
    - sözlük’ü nasıl kullandığınızı anlamak

    çerezleri nasıl yönetebilir veya silebilirsiniz?

    çerezleri, tarayıcınız buna imkan sunuyorsa tarayıcı ayarlarını düzenleyerek yönetebilirsiniz. bu şekilde tüm
    çerezleri reddedebilir, sabit diskinize bir çerez kaydedilmeden önce uyarılabilir, sadece belirlediğiniz internet
    sitelerinin çerezlerini kabul edebilir, önceden kabul ettiğiniz çerezleri devre dışı bırakabilir ya da
    silebilirsiniz.

    sözlük’te yer alan 3. şahısların çerezlerinden eğer imkan sunuyorlarsa ilgili 3. şahsın internet sitesini ziyaret
    ederek vazgeçebilirsiniz.

    sözlük’te yer alan çerezleri reddetmeniz durumunda sözlük’te yer alan özellik ve fonksiyonların bir kısmını
    kullanamayabilirsiniz.

    sözlük’e farklı tarayıcılardan ve/veya cihazlardan erişiyorsanız, bu tarayıcı ve cihazların her birinin çerez
    ayarlarının seçiminize uygunluğunu kontrol etmelisiniz.

    çerez politikamızı, size herhangi bir bildirimde bulunmaksızın güncelleyebiliriz. bu nedenle; çerez politikamızı
    belirli aralıklarla yeniden gözden geçirmeniz önerilmektedir.

    çerez politikamız `06.12.2017` tarihinde güncellenmiştir.
</div>