<h1 class="page_title">
    <i class="fa fa-cubes" style="padding-right: 8px"></i>
    istatistikler
</h1>

<ul id="profile-cards">
    <li>
        <h3>öyle genel</h3>
        <ul class="general">
        </ul>
    </li>
    <li>
        <h3>bi meraba diyin</h3>
        <ul class="new-users">
        </ul>
    </li>
    <li>
        <h3>en işsiz yazarlar</h3>
        <ul class="most-writer-users">
        </ul>
    </li>
    <li>
        <h3>en seksi yazarlar</h3>
        <ul class="most-up-voted-users">
        </ul>
    </li>
    <li>
        <h3>en şekilli entryler</h3>
        <ul class="most-up-voted-entries">
        </ul>
    </li>
</ul>