<% if (isArwen) { %>
<a href="http://thecatapi.com"><img width="240px" src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
<% } %>
<h1 class="topic_title">
    <a href="/<%- (slug + '--' + id) %>"><%- title %></a>
    <% if (isMod && !single) { %>
    <span class="topic_mod_action topic_edit">
        <i class="fa fa-pencil-square-o"></i>
    </span>
    <span class="topic_mod_action topic_move">
        <i class="fa fa-share"></i>
    </span>
    <span class="topic_mod_action topic_lock">
        <i class="fa <%- locked ? 'fa-lock' : 'fa-unlock' %>"></i>
    </span>
    <% } %>
    <% if (!isMod && !single && locked) { %>
    <span class="topic_mod_action topic_status" style="cursor: default;">
        <i class="fa fa-lock"></i>
    </span>
    <% } %>
</h1>
<% if (!single) { %>
<ul class="topic_actions">
    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%- site %>/<%- (slug + '--' + id) %>"><i
            class="fa fa-facebook"></i></a>
    </li>
    <li><a target="_blank"
           href="https://twitter.com/intent/tweet?text=<%- site %>/<%- (slug + '--' + id) %>&via=sozluksau"><i
            class="fa fa-twitter"></i></a>
    </li>
</ul>
<% } else { %>
<ul class="topic_actions">
    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%- site %>/entry/<%- entry_id %>"><i
            class="fa fa-facebook"></i></a>
    </li>
    <li><a target="_blank"
           href="https://twitter.com/intent/tweet?text=<%- site %>/entry/<%- entry_id %>&via=sozluksau"><i
            class="fa fa-twitter"></i></a>
    </li>
</ul>
<% } %>
<ul class="entries">
</ul>
<div class="pager">
</div>
