<h1 class="topic_title"><a href="/<%- (slug + '--' + id) %>"><%- title %></a></h1>
<ul class="topic_actions">
    <li><span><i class="fa fa-share-alt"></i>paylaş:</span></li>
    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%- site %>/<%- (slug + '--' + id) %>">facebook</a>
    </li>
    <li><a target="_blank" href="https://twitter.com/home?status=<%- site %>/<%- (slug + '--' + id) %> @sausozluk">twitter</a>
    </li>
    <li class="break"><a href="#"><i class="fa fa-hand-spock-o"></i>şikayet et</a></li>
</ul>
<ul class="entries">
</ul>
<div class="pager">
</div>