<div class="rules-info">böyle bir başlığa rastlanmadı. eğer oluşturmak istiyorsan önce aşağıdaki kuralları gözden geçirmelisin:</div>
<ul class="rules">
    <li>ana ve esas kural, entyler altında bulunduğu başlığı tanımlayan formatta olmalıdır. entrylerin bir tanım içermesi mecburdur. tartışılmaz.</li>
    <li>sözlükte kavramlar isimleri ile anılmalıdır. yani 'sakarya şehri' değil, 'sakarya' olmalıdır. altına tanım olarak şehir olduğu girilmelidir. çünkü sakarya bir şehirdir. fakat çıkarıldığında anlamı bozulacak kavram tamlayanları çıkarılmaz. 'dokuzuncu senfoni' için 'dokuzuncu' başlığı açılıp 'bir senfonidir' tanımı yapmak gereksizdir. biraz felsefe lütfen.</li>
    <li>içerisinde tarih geçen başlıklar '29 ekim 1923' formatında yazılmalıdır.</li>
    <li>başlıklarda hatalar bilerek ve isteyerek gösterilmiyorsa eğer, dil bilgisine ve yazım yanlışları olmamasına özen gösterilmelidir. anlatım bozuklukları çok da önemli değil. onları düzeltecek cengaverler zaten çıkacaktır.</li>
    <li>başlıklarda şahıs çekimleri içeren ekler kullanılmamalıdır. mesela 'hoşlandığınız kızın halı sahada ara pas atması' yanlıştır, 'hoşlanılan kızın halı sahada ara pas atması' doğrudur.</li>
    <li>başlıklar ile entryler arasında soru-cevap ilişkisi olmamalıdır. mesela 'kedi sahiplenirken nelere dikkat edilmelidir' yanlış bir başlık tipidir, 'kedi sahiplenirken dikkat edilmesi gerekenler' doğru bir başlık tipidir.</li>
    <li>anket yapılmamalıdır. anket yapanlarla arkadaş olunmamalıdır.</li>
    <li>başlık ve entrylerde hukuken ne sizi ne de bizi zora sokacak tanımlar yapılmamalıdır. şöyle ki, hayali bir karakter olan ramsay bolton'a orospu çocuğu tanımı yapmak serbest ama ramsay bolton gerçek bir karakter olsaydı üzülürdü. muhtemelen derimizi yüzer bizi tazılarına yedirirdi. en iyisi siz bunu yazmayın kimse ramsay bolton'lar ile muhatap olmamış olsun.</li>
    <li>aramaya inanılmalıdır.</li>
    <li>herkes tarafında kabul görülmüş durumlar, kurumlar, topluluklar ve eserler (film, kitap, müzik, tiyatro, heykel, resim vb.) isimlerinin en sade ve orijinal hali ile ve isimleri bozulmadan kullanılmalıdır.</li>
    <li>bakınızlar başlıklar ile ilişkili olmalıdır. nasıl bir ilişki olduğu size kalmıştır. ama 'pulp fiction' başlığı altına 'midye dolma' yazmak anlamsızdır.</li>
    <li>entrylerde verilen linklerin ucu başlıkla alakalı ve mümkünse doğru yerlere çıkmalıdır.</li>
    <li>alıntı yapılması durumunda kaynak gösterilmelidir.</li>
    <li>entrylerde smiley ve emoji kullanımı yasaktır. mesela 'gülerken sandalyeden düşüren durumdur :d' ya da 'çok kaslı bir erkektir :)' ifadeleri yanlıştır. tavrınızı, üslubunuz ile anlatmanız gerekir.</li>
    <li>başka insanların inanç, fikir ve değerlerine hakaret edilmemelidir. lütfen.</li>
</ul>
<div class="rules-info">eğer hazırsan, başlığı oluşturmaya devam edebiliriz:</div>
<textarea id="new_entry" placeholder='"<%- title %>" hakkında bilgi verin'></textarea>
<ul class="buttons">
    <li><a id="bkz">(bkz: hede)</a></li>
    <li><a id="hede">hede</a></li>
    <li><a id="yildiz">&nbsp;*&nbsp;</a></li>
    <li><a id="spoiler">-spoiler-</a></li>
    <li><a id="link">http://</a></li>
    <li><a id="ok" class="primary">ateşle</a></li>
</ul>