<div class="entry_info">
    <a href="/entry/<%- id %>" class="no">#<%- id %></a>
    <span class="time"><%- moment(created_at).fromNow() %></span>
</div>
<div class="text">
    <%= expanded ? text : text.substr(0, 500) %>
    <% if (!expanded) { %>
    <div class="read-more">
        devamını oku
    </div>
    <% } %>
</div>
<div class="info">
    <ul class="vote">
        <li<% if (canivote) { %> class="up-vote" <% } %>>
            <a>
                <i class="fa fa-angle-up"></i>
                <% if (upvotes_count > 0) { %>
                <span class="vote_text"><%- upvotes_count %></span>
                <% } %>
            </a>
        </li>
        <li<% if (canivote) { %> class="down-vote" <% } %>>
            <a>
                <i class="fa fa-angle-down"></i>
                <% if (downvotes_count > 0) { %>
                <span class="vote_text"><%- downvotes_count %></span>
                <% } %>
            </a>
        </li>
        <% if (user.id === system_id) { %>
        <li class="remove">
            <a>
                sil
            </a>
        </li>
        <li class="edit">
            <a>
                düzenle
            </a>
        </li>
        <% } %>
        <li><a class="user" href="/biri/<%- user.slug %>"><%- user.username %></a></li>
    </ul>
</div>
