<h1 class="page_title">
    <i class="fa fa-code-fork" style="padding-right: 8px"></i>
    olan biten
</h1>
<ul class="tabs-menu colored">
    <li class="current"><span data-id="#web-tab">ön taraf</span></li>
    <li><span data-id="#api-tab">arka taraf</span></li>
    <li><span data-id="#about-tab">genellikle</span></li>
</ul>
<div class="tab developers">
    <div id="web-tab" class="tab-content developers">
        <ul class="commits">
        </ul>
    </div>
    <div id="api-tab" class="tab-content developers">
        <ul class="commits">
        </ul>
    </div>
    <div id="about-tab" class="tab-content developers">
        <div class="about">
            bu site çok cici kodlanmıştır. tüm hakları cici insanlarda saklıdır.
            eğer siz de cici bir insansanız, belki kodlarımızı bile görebilirsiniz.
            şaka lan şaka kodlar [https://github.com/sausozluk burada]dır.
            arkalı, önlü fotokopisini çekebilisiniz. ikisi de mevcut çünkü.
            backbone.js ile önü, ruby.js ile de arkasını yazdık.
            biz mi? eray.js ve okan.js'iz biz. çok sevimli doğan.js'de göz kırpabilir.
            yardımları ve fikirleri için de özgür.js'i unutmayalım.
            bizi "özgür" kılan açık sözlük`:swh` kılan da kendisidir. özgür çünkü.
            son olarak da tüm bunların fikir babası furkan.js'i unutmayalım.
            biz bizler olarak sözlüğü darbeye, terö ... god damn fuck me.
        </div>
    </div>
</div>